@import "./colors";

.weather-container {
  width: 40%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

  .overlay {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
  }
}


